/*-----------------------------------------------
	container
-----------------------------------------------*/
body {
	// &.theme-olm {
	// 	background-color: $colorOlm;
	// }
	// &.theme-tal {
	// 	background-color: $colorTal;
	// }
	background-color: $colorGray01;
}

.l-wrapper {
	position: relative;
	@include pc {
		width: $contentWidthPlayer;
		margin: 30px auto 20px auto;
	}
	@include sp {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 6vw;
	}
}
