/*-----------------------------------------------
	main
-----------------------------------------------*/
.l-main {
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	@include pc {
		// padding-bottom: 80px;
	}
	@include sp {

	}
}
