<header class="l-header">
	<div class="l-header__inner">
		<div class="l-header__logo">
			<img src="<%- page.basePath %>common_ed/images/logo_lilly.png" alt="">
		</div>
		<div class="l-header__gnav">
			<ul class="p-gnav">
				<li class="p-gnav__item">
					<% if (page.id !== 'mylist') { %>
					<a class="p-gnav__link p-gnav__link--list is-current" href="">動画一覧</a>
					<% } else { %>
					<a class="p-gnav__link p-gnav__link--list" href="" id="listLink">動画一覧</a>
					<% } %>
				</li>
				<li class="p-gnav__item">
					<% if (page.id === 'mylist') { %>
					<a class="p-gnav__link p-gnav__link--mylist is-current" href="" id="mylistLink">マイリスト</a>
					<% } else { %>
					<a class="p-gnav__link p-gnav__link--mylist" href="../mylist/index.html" id="mylistLink">マイリスト</a>
					<% } %>
				</li>
			</ul>
		</div>
	</div>
</header>