//------------------------------
// viewport
//------------------------------
$screenSize: 768;
$breakpoint: 768px;

//------------------------------
// contents
//------------------------------
// $headerHeight: 70px;
$contentWidth: 1200px;
$contentWidthPlayer: 900px;

$thumnailWidthRelatedVideoPc: 160px;
$thumnailHeightRelatedVideo: 90px;


//------------------------------
// color
//------------------------------
$colorPrimary: #e6001f;

$colorGray01: #707c88;
$colorGray02: #fdf3eb;
$colorGray03: #425464;
$colorGray04: #d9e0e7;

$colorBorder01: #f8e8d9;

// $colorLilly: #d42f1d;
$colorOlm: #f36c00;
$colorTal: #49a942;

$colorTextMain: #212121;
$colorTextLink: #1e3a65;

// $colorTextPrimary: #e;

$colorButtonSpeed01: #ff6d22;
// $colorButtonSpeed02: #ff6d22;

$colorButtonDocument01: #49a942;
$colorButtonDocument02: #425464;

$colorNew: #e6001f;
