//ブレークポイント
@mixin pc($viewport: $breakpoint) {
	@media screen and (min-width: $viewport), print {
		@content;
	}
}

@mixin sp($viewport: $breakpoint) {
	@media screen and (max-width: $viewport - 1) {
		@content;
	}
}

@mixin vp($viewport1, $viewport2) {
	@media screen and (min-width: $viewport1) and (max-width: $viewport2) {
		@content;
	}
}

@mixin is-hover-txt($clr: $clr-txt-overlay) {
	text-decoration: underline;
	color: $clr;
}

@mixin landscapehack {
	@media screen and (orientation:landscape) {
		@content;
	}
}

@mixin clearfix {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

@mixin placeholderColor($color) {
	&:placeholder-shown {
		color: $color;
	}
	&::-webkit-input-placeholder {
		color:$color;
	}
	&:-moz-placeholder {
		color:$color;
		opacity: 1;
	}
	&::-moz-placeholder {
		color:$color;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color:$color;
	}
}


// lineHeightCrop（line-heightの不要な余白を打ち消す）
// 疑似要素を使うので、疑似要素にデザインを当てている場合は、入れ子にして使ってください。
@mixin lineHeightCrop($line-height) {
	&::before {
		display: block;
		width: 0;
		height: 0;
		margin-top: calc((1 - #{$line-height}) * .5em);
		content: "";
	}
	&::after {
		display: block;
		width: 0;
		height: 0;
		margin-bottom: calc((1 - #{$line-height}) * .5em);
		content: "";
	}
}


@function boxShadow() {
	@return	0px 10px 24px 0px rgba(20, 59, 143, 0.3);
}

