/*-----------------------------------------------
	footer
-----------------------------------------------*/
.l-footer {
	box-shadow: 0px -1px 5px 1px $colorBorder01;
	@include pc {
		height: 100px;
	}
	@include sp {
		height: 20vw;
	}
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	&__copyright {
		color: $colorTextMain;
		@include pc {
			font-size: 12px;
		}
		@include sp {
			font-size: 2.5vw;
		}
	}
}