<% if (page.mode && page.mode === 'demo') { %>
<ul class="p-pagination">
	<% for (let i = 1; i <= 5; i++) { %>
	<% if (i == 1) { %>
	<li class="p-pagination__item"><a class="p-pagination__link is-current" href=""><%= i %></a></li>
	<% } else { %>
	<li class="p-pagination__item"><a class="p-pagination__link" href=""><%= i %></a></li>
	<% } %>
	<% } %>
</ul>
<% } else { %>
	<ul class="p-pagination" id="pagination"></ul>
<% } %>