<% if (page.mode && page.mode === 'demo') { %>
<div class="p-playerFooter">
	<div class="p-playerFooter__logo">
		<img src="<%- page.basePath %>common_ed/images/logo_lilly.png" alt="">
	</div>
	<div class="p-playerFooter__flashBanner">
		<a href="http://get.adobe.com/jp/flashplayer/" target="_blank"><img src="<%- page.basePath %>common_ed/images/flash.png" alt=""/></a>
	</div>
	<div class="p-playerFooter__flashText">
		<img src="<%- page.basePath %>common_ed/images/flash_text.png" alt=""/>
	</div>
	<p class="p-playerFooter__copyright">Copyright &copy; Eli Lilly Japan K.K. All rights reserved.</p>
</div>
<% } else { %>
	<div class="p-playerFooter">
		<div class="p-playerFooter__logo" id="footerLogo"></div>
		<div class="p-playerFooter__flashBanner" id="flashBanner"></div>
		<div class="p-playerFooter__flashText" id="flashText"></div>
		<p class="p-playerFooter__copyright" id="copyright"></p>
	</div>
<% } %>
