<% if (page.mode && page.mode === 'demo') { %>
<div class="p-playerContent">
	<div class="p-playerContent__player">
		<div class="p-playerContainer p-playerContainer--olm">
			<div class="p-playerContainer__player"></div>
		</div>
		<div class="p-playerBottom">
			<div class="p-playerBottom__item">
				<div class="p-playerDetail">
					<div class="p-playerDetail__item">
						<div class="p-videoInfo">
							<div class="p-videoInfo__time">04分39秒</div>
							<div class="p-videoInfo__expired">視聴期限</div>
							<div class="p-videoInfo__date">2020年12月20日まで</div>
						</div>
						<ul class="p-videoLabelList">
							<li class="p-videoLabelList__item p-videoLabelList__item--olm">オルミエント</li>
							<li class="p-videoLabelList__item">関節リウマチ</li>
						</ul>
					</div>
					<div class="p-playerDetail__item">
						<div class="p-playerCheckButton">
							<!-- <div class="p-playerCheckButton__icon"></div> -->
							<!-- <div class="p-playerCheckButton__text">マイリスト</div> -->
						</div>
					</div>
				</div>
			</div>
			<div class="p-playerBottom__item">
				<ul class="p-playerButtons">
					<li class="p-playerButtons__item p-playerButtons__item--speed">
						<a class="is-normal" href="">倍速再生で視聴する<br>（1.3倍）</a>
					</li>
					<li class="p-playerButtons__item p-playerButtons__item--document">
						<a href="">添付文書情報を見る</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="p-playerContent__relatedVideo">
		<%- include('./_related_video_list', { page: page }) %>
	</div>
</div>
<% } else { %>
<div class="p-playerContent">
	<div class="p-playerContent__player">
		<div class="p-playerContainer">
			<div class="p-playerContainer__player" id="eqPlayer"></div>
		</div>
		<div class="p-playerBottom">
			<div class="p-playerBottom__item">
				<div class="p-playerDetail">
					<div class="p-playerDetail__item">
						<div class="p-videoInfo">
							<div class="p-videoInfo__time" id="videoTime"></div>
							<div class="p-videoInfo__expired" id="videoExpiration">視聴期限</div>
							<div class="p-videoInfo__date" id="videoDate"></div>
						</div>
						<ul class="p-videoLabelList" id="videoLabelList">
							<!-- <li class="p-videoLabelList__item p-videoLabelList__item--olm">オルミエント</li>
							<li class="p-videoLabelList__item">関節リウマチ</li> -->
						</ul>
					</div>
					<div class="p-playerDetail__item">
						<div class="p-playerCheckButton" id="checkButton"></div>
					</div>
				</div>
			</div>
			<div class="p-playerBottom__item">
				<ul class="p-playerButtons">
					<li class="p-playerButtons__item p-playerButtons__item--speed">
						<!-- <a class="is-normal" id="speedChange" href=""></a> -->
						<a id="speedChange" href=""></a>
					</li>
					<li class="p-playerButtons__item p-playerButtons__item--document" id="document">
						<!-- <a id="document" href=""></a> -->
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="p-playerContent__relatedVideo" id="relatedVideoWrapper">
		<%- include('./_related_video_list', { page: page }) %>
	</div>
</div>
<% } %>