@charset "utf-8";
/*--------------------------------------------------
	Brand Color Custom
--------------------------------------------------*/
/* background */
body {
	background-color: #49a942;
}
/* title */
.p-playerHeader__title {
	color: #33632e;
}
.p-playerHeader__subTitle {
	color: #33632e;
}
/* player */
.p-playerContainer {
	border:5px solid #49a942;
}
/* speed button */
.p-playerButtons__item--speed a {
	border:1px solid #49a942;
	background-color:#49a942;
}
.p-playerButtons__item--speed a:hover {
	background-color:#fff;
	border:1px solid #49a942;
	color:#49a942;
}
.p-playerButtons__item--speed a.is-normal::before {
	background-image: url(../images/icon_time.png);
}
.p-playerButtons__item--speed a.is-normal:hover::before {
	background-image: url(../images/icon_time_on.png);
}
.p-playerButtons__item--speed a.is-high::before {
	background-image: url(../images/icon_time_normal.png);
}
.p-playerButtons__item--speed a.is-high:hover::before {
	background-image: url(../images/icon_time_normal_on.png);
}
/* document button */
/* .p-playerButtons__item--document a {
	border: 1px solid #49a942;
	color: #fff;
	background-color: #49a942;
}
.p-playerButtons__item--document a:hover {
	border: 1px solid #49a942;
	color: #49a942;
	background-color: #fff;
}
.p-playerButtons__item--document a::before {
	background-image: url(../images/icon_document.png);
}
.p-playerButtons__item--document a:hover::before {
	background-image: url(../images/icon_document_on.png);
} */
/* related video */
.p-playerContent__relatedVideo {
	background-color: #f1fcf0;
}