/*-----------------------------------------------
	related video list
-----------------------------------------------*/
.p-playerRelatedVideo {
	@include pc {
		padding: 20px 30px;
	}
	@include sp {
		padding: 6vw 3vw 3.5vw;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@include pc {
			
		}
		@include sp {
	
		}
	}
	&__title {
		@include pc {
			font-size: 20px;
		}
		@include sp {
			font-size: 4.5vw;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-radius: 5px;
		color: $colorTextLink;
		transition: opacity .2s;
		@include pc {
			padding: .25em 1em;
			font-size: 14px;
		}
		@include sp {
			padding: .2em .8em;
			font-size: 3vw;
		}
		&::before {
			content: "";
			display: block;
			background-image: url("../images/ico_list_4.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 1.5em;
			height: 1.5em;
			margin-right: .5em;
		}
		&:hover {
			opacity: .6;
		}
	}
	&__list {
		@include pc {
			margin-top: 10px;
		}
		@include sp {
			padding: 5vw 2vw 0;
		}
	}
}

.p-relatedVideoList {
	width: 100%;
	&.is-demo {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	@include pc {
		
	}
	@include sp {

	}
	&__item {

	}
	&.slick-slider {
		position: relative;
		.slick-track {
			margin-left: 0;
			margin-right: 0;
		}
		.slick-arrow-custom {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $colorGray01;
			border-radius: 50%;
			cursor: pointer;
			z-index: 1;
			@include pc{
				top: calc(#{$thumnailHeightRelatedVideo} / 2);
				width: 30px;
				height: 30px;
			}
			@include sp{
				top: calc(38vw * 0.5625 / 2);
				width: 6.5vw;
				height: 6.5vw;
			}
			&:hover {
			}
			&::before{
				content: "";
				display: block;
				background-image: get-svg-icon(kv-arrow-r01, #fff);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				@include pc{
					width: 17px;
					height: 17px;
				}
				@include sp{
					width: 3.5vw;
					height: 3.5vw;
				}
			}
			&.slick-disabled {
				cursor: default;
			}
		}
		.slick-prev-custom {
			left: 0;
			transform: translate(-40%, -50%);
			&::before{
				transform: rotateY(-180deg);
				@include pc{

				}
				@include sp{
					margin-right: .8vw;
				}
			}
		}
		.slick-next-custom {
			right: 0;
			transform: translate(30%, -50%);
			&::before{
				@include pc{

				}
				@include sp{
					margin-left: .5vw;
				}
			}
		}
	}
}

.p-relatedVideoItem {
	@include pc {
		width: 160px;
		font-size: 14px;
	}
	@include sp {
		width: 38vw;
		margin-left: auto;
		margin-right: auto;
		font-size: 3vw;
	}
	&__link {
		display: block;
		transition: opacity .2s;
		&:hover {
			opacity: .6;
		}
	}
	&__thumb {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		img {
			max-width: 100%;
			max-height: 100%;
			flex-basis: 100%;
		}
		@include pc {
			height: 90px;
		}
		@include sp {
			height: calc(38vw * 0.5625);
		}
		&.is-new {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-color: $colorNew transparent transparent transparent;
				@include pc {
					border-width: 34px 34px 0 0;
				}
				@include sp {
					border-width: 8vw 8vw 0 0;
				}
			}
			&::after {
				content: "NEW";
				position: absolute;
				color: #fff;
				font-weight: bold;
				text-align: center;
				transform: rotate(-45deg);
				z-index: 2;
				@include pc {
					top: 6px;
					left: 0px;
					font-size: 10px;
					line-height: 1.2;
				}
				@include sp {
					top: .8em;
					left: 0px;
					font-size: 2.2vw;
					line-height: 1.2;
				}
			}
			@include pc {

			}
			@include sp {
		
			}
		}
	}
	&__title {
		height: 3em;
		color: $colorTextMain;
		font-weight: bold;
		line-height: 1.5;
		overflow: hidden;
		@include pc {
			margin-top: 6px;
			font-size: 1em;
		}
		@include sp {
			margin-top: 1.5vw;
			font-size: 1em;
		}
	}
	&__detail {
		position: relative;
		@include pc {

		}
		@include sp {
			padding-top: 1.5vw;
		}
	}
	&__info {
		@include pc {
			margin-top: 5px;
		}
		@include sp {
		
		}
	}
	&__labelList {
		@include pc {
			margin-top: 5px;
		}
		@include sp {
			margin-top: 1.5vw;
		}
	}
	&__checkButton {
		position: absolute;
		background-image: url("../../common_ed/images/ico_check_1.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		transition: opacity .2s;
		@include pc {
			top: 0;
			right: 0;
			margin-top: -2px;
			width: 16px;
			height: 16px;
		}
		@include sp {
			top: 0;
			right: 0;
			width: 5vw;
			height: 5vw;
		}
		&:hover {
			opacity: .6;
		}
		&.is-active {
			background-image: url("../../common_ed/images/ico_check_2.png");
		}
	}
}

.p-relatedVideoInfo {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	color: $colorGray01;
	@include pc {
	
	}
	@include sp {

	}
	&__time {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		@include pc {
			font-size: .7em;
			margin-bottom: 5px;
		}
		@include sp {
			margin-bottom: 2vw;
			font-size: .8em;
		}
		&::before {
			content: "";
			display: block;
			background-image: url("../images/ico_clock.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			@include pc {
				width: 1em;
				height: 1em;
				margin-right: 2px;
			}
			@include sp {
				width: 1em;
				height: 1em;
				margin-right: 2px;
			}
		}
	}
	&__expired {
		border: 1px solid $colorGray01;
		border-radius: 10px;
		@include pc {
			padding: .25em .5em;
			font-size: .6em;
		}
		@include sp {
			padding: .25em 1em;
			font-size: .6em;
		}
	}
	&__date {
		@include pc {
			font-size: .7em;
		}
		@include sp {
			font-size: .8em;
		}
	}
}

.p-relatedVideoLabelList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include pc {

	}
	@include sp {

	}
	&__item {
		background-color: $colorGray01;
		border: 1px solid $colorGray01;
		border-radius: 3px;
		color: #fff;
		@include pc {
			padding: .2em .3em;
			font-size: 8px;
		}
		@include sp {
			padding: .4em .4em;
			font-size: 2.5vw;
		}
		& + & {
			@include pc {
				margin-left: 5px;
			}
			@include sp {
				margin-left: .5em;
			}	
		}
		&--olm {
			background-color: $colorOlm;
			border-color: $colorOlm;
			color: #fff;
		}
		&--tal {
			background-color: $colorTal;
			border-color: $colorTal;
			color: #fff;
		}
	}
}