/*-----------------------------------------------
	video list
-----------------------------------------------*/
.p-videoList {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	width: 100%;
	@include pc {
		justify-content: flex-start;
	}
	@include sp {
		justify-content: space-between;
	}
	// 最終行対策1
	&::before {
		content: "";
		display: block;
		order: 1;
		@include pc {

		}
		@include sp {
			width: 50%;
		}
	}
	// 最終行対策2
	&::after {
		content: "";
		display: block;
		@include pc {

		}
		@include sp {
			width: 50%;
		}
	}
	& + & {
		@include pc {

		}
		@include sp {
	
		}
	}
	&__item {
		border-bottom: 1px solid $colorGray04;
		@include pc {
			&:last-child,
			&:nth-last-child(2),
			&:nth-last-child(3),
			&:nth-last-child(4) {
				border-bottom: none;
			}
		}
		@include sp {
			width: 50%;
			&:last-child,
			&:nth-last-child(2) {
				border-bottom: none;
			}
		}
		& + & {
			@include pc {
				padding-left: calc(((100% - 270px * 4) / 3));
			}
			@include sp {
				
			}
		}
		&:nth-child(-n + 4) {
			@include pc {
				margin-top: 0px;
			}
			@include sp {

			}
		}
		&:nth-child(4n + 1) {
			@include pc {
				padding-left: 0;
			}
			@include sp {

			}
		}
		&:nth-child(odd) {
			@include pc {

			}
			@include sp {
				padding-right: 2vw;
			}
		}
		&:nth-child(even) {
			@include pc {

			}
			@include sp {
				padding-left: 2vw;
			}
		}
	}
}

.p-videoItem {
	@include pc {
		width: 270px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	@include sp {
		width: 100%;
		margin-top: 8vw;
		margin-bottom: 8vw;
	}
	&__link {
		display: block;
		transition: opacity .2s;
		&:hover {
			opacity: .6;
		}
	}
	&__thumb {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		img {
			width: 100%;
			max-width: 100%;
			max-height: 100%;
		}
		@include pc {
			height: 152px;
		}
		@include sp {
			height: calc(44vw * 0.5625);
		}
		&.is-new {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-color: $colorNew transparent transparent transparent;
				@include pc {
					border-width: 40px 40px 0 0;
				}
				@include sp {
					border-width: 8vw 8vw 0 0;
				}
			}
			&::after {
				content: "NEW";
				position: absolute;
				color: #fff;
				font-weight: bold;
				text-align: center;
				transform: rotate(-45deg);
				z-index: 2;
				@include pc {
					top: 8px;
					left: 0px;
					font-size: 11px;
					line-height: 1.2;
				}
				@include sp {
					top: .8em;
					left: 0px;
					font-size: 2.2vw;
					line-height: 1.2;
				}
			}
			@include pc {

			}
			@include sp {
		
			}
		}
	}
	&__title {
		height: 3em;
		color: $colorTextMain;
		font-weight: bold;
		line-height: 1.5;
		overflow: hidden;
		@include pc {
			margin-top: 10px;
			font-size: 16px;
		}
		@include sp {
			margin-top: 2.5vw;
			font-size: 3vw;
		}
	}
	&__detail {
		position: relative;
		@include pc {

		}
		@include sp {
			padding-top: 1vw;
		}
	}
	&__info {
		@include pc {
			margin-top: 10px;
		}
		@include sp {
		}
	}
	&__labelList {
		@include pc {
			margin-top: 12px;
		}
		@include sp {
			margin-top: 2vw;
		}
	}
	&__checkButton {
		position: absolute;
		background-image: url("../../common_ed/images/ico_check_1.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		transition: opacity .2s;
		@include pc {
			bottom: 0;
			right: 0;
			margin-bottom: -2px;
			width: 25px;
			height: 25px;
		}
		@include sp {
			top: 0;
			right: 0;
			width: 5vw;
			height: 5vw;
		}
		&:hover {
			opacity: .6;
		}
		&.is-active {
			background-image: url("../../common_ed/images/ico_check_2.png");
		}
	}
}

.p-videoInfo {
	display: flex;
	align-items: center;
	color: $colorGray01;
	@include pc {
		justify-content: flex-start;
	}
	@include sp {
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__time {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@include pc {
			font-size: 13px;
		}
		@include sp {
			width: 100%;
			margin-bottom: 2vw;
			font-size: 2.8vw;
		}
		&::before {
			content: "";
			display: block;
			background-image: url("../images/ico_clock.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			@include pc {
				width: 1em;
				height: 1em;
				margin-right: 2px;
			}
			@include sp {
				width: 1em;
				height: 1em;
				margin-right: 2px;
			}
		}
	}
	&__expired {
		border: 1px solid $colorGray01;
		border-radius: 10px;
		@include pc {
			padding: .25em .5em;
			margin-right: 2px;
			margin-left: auto;
			font-size: 10px;
		}
		@include sp {
			padding: .25em 1em;
			font-size: 2vw;
		}
	}
	&__date {
		@include pc {
			font-size: 13px;
		}
		@include sp {
			font-size: 2.8vw;
		}
	}
	&.is-longVideo &__time,
	&.is-longVideo &__date {
		@include pc {
			font-size: 11px;
		}
		@include sp {

		}
	}
}

.p-videoLabelList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include pc {

	}
	@include sp {

	}
	&__item {
		background-color: $colorGray01;
		border: 1px solid $colorGray01;
		border-radius: 3px;
		color: #fff;
		@include pc {
			padding: .25em 1em;
			font-size: 12px;
		}
		@include sp {
			padding: .4em .4em;
			font-size: 2.5vw;
		}
		& + & {
			@include pc {
				margin-left: .5em;
			}
			@include sp {
				margin-left: .5em;
			}	
		}
		&--olm {
			background-color: $colorOlm;
			border-color: $colorOlm;
			color: #fff;
		}
		&--tal {
			background-color: $colorTal;
			border-color: $colorTal;
			color: #fff;
		}
	}
}

.p-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	@include pc {
		margin-top: 30px;
	}
	@include sp {
		margin-top: 5vw;
	}
	&__item {
		@include pc {

		}
		@include sp {

		}
		& + & {
			@include pc {
				margin-left: 16px;
			}
			@include sp {
				margin-left: 4vw;
			}
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $colorPrimary;
		border-radius: 5px;
		color: $colorPrimary;
		transition: opacity .2s;
		@include pc {
			width: 24px;
			height: 34px;
			font-size: 16px;
		}
		@include sp {
			width: 6.2vw;
			height: 8.5vw;
			font-size: 3.2vw;
		}
		&:hover {
			opacity: .6;
		}
		&.is-current {
			background-color: $colorPrimary;
			color: #fff;
			cursor: default;
			pointer-events: none;
		}
	}
}