<%
// page data
const page = {
	id: 'list_derm',
	category: 'list',
	type: 'derm',
	title: '皮膚科領域',
	categoryTitle: '動画コンテンツ一覧',
	description: '',
	// discTemplate: '',
	// discTemplatePrefix: '',
	keywords: '',
	// breadcrumb: [],
	basePath: '../../',
};
%> 
<!DOCTYPE html>
<html lang="ja">
<%- include('../../../_include/_foundation/_head', { page: page }) %>
<body data-page-type="<%- page.type %>">
	<div class="u-loading">
		<div class="u-loading__spinner"></div>
	</div>
	<div class="l-wrapper">
		<%- include('../../../_include/_layout/_header', { page: page }) %>
		<%- include('../../../_include/_layout/_main', { page: page }) %>
		<%- include('../../../_include/_layout/_footer', { page: page }) %>
	</div>
</body>
</html>