<%
// page data
const page = {
	id: 'player',
	category: 'player',
	type: 'movie',
	// 'title': '',
	// categoryTitle: '',
	description: '',
	// discTemplate: '',
	// discTemplatePrefix: '',
	keywords: '',
	// breadcrumb: [],
	basePath: '../../../',
};
%> 
<!DOCTYPE html>
<html lang="ja">
<%- include('../../../../_include/_foundation/_head', { page: page }) %>
<body data-page-type="<%- page.type %>">
	<div class="u-loading">
		<div class="u-loading__spinner"></div>
	</div>
	<div class="l-wrapper">
		<%- include('../../../../_include/_layout/_movie/_header', { page: page }) %>
		<%- include('../../../../_include/_layout/_movie/_main', { page: page }) %>
		<%- include('../../../../_include/_layout/_movie/_footer', { page: page }) %>
	</div>
</body>
</html>